* { 
    margin: 0;
    padding: 0;
}

body {
    background-color: #e8e8e8;
}

#banner {
    background-image: url(Fotos/fondopantalla.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    padding: 4% 2% 0 2%;
}

.bg-transparent.scrolled {
    background-color: #bbbfcac1!important;
    
}

.nav-link {
    color:black;
    font-weight: 700;
    font-size: 1.5em;
}

.logo {
    height: 40vw;
    width: 40vw;
    justify-items: center;
    margin-top: 5%;
}


.subtitulos {
    margin: 10% 0 5% 0;
}

.slider {
    width: 50vh;
    margin: 5% auto 5% auto;

}

.carousel .carousel-item {
    height: 500px;
  }

.cuotasbanner {
    padding: 0;
}  

.cuotas {
    font-size:x-large;
    padding: 0.5% 0 0.5% 0;
    margin: 15% 0 0 0;
}

.footer {
    background-color: #495464;
    margin-top: 0;
}

.logofooter {
    height: 350px;
    width: 350px;
}

.redes {
    justify-content:space-evenly;
}

.copyright {
    font-size: 20px;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}

.navbarshop{
    background-color: #bbbfcac1!important;
}

#listadoDeProductos {
    margin: 5% 0 10% 0;
}

.imgcard {
    height: 450px;
} 

.botonpagar {
    margin: 0 0 3% 0;
}

.botonvaciar {
    margin: 0 0 10% 0;
}

.btnvercarrito{
    margin: 0 0 20% 0;
}

.foto {
    margin: 3% 0 3% 0;
}

.table {
    width: 70% !important;
    margin: 5% 0 5% 0;
}

.fotostabla {
    width:80px;
    height: 100px;
}

#carrito {
    margin-top: 10%;
}