.cuerpo {
    background-color: #e7e7de;
    font-family: 'Roboto', sans-serif;
}

.titulo {
    color: whitesmoke;
    background-color: #0f2f57;
    font-size: 6rem;
    line-height: 1.5;
}

.subtitulo {
    margin: 5% 0 2% 0;
}

.botonpagar {
    margin: 0 0 3% 0;
}

.botonvaciar {
    margin: 0 0 10% 0;
}

.foto {
    margin: 3% 0 3% 0;
}

.table {
    width: 70% !important;
    margin: 5% 0 5% 0;
}

.fotostabla {
    width:80px;
    height: 100px;
}

#carrito {
    margin-top: 10%;
}